<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta name = "format-detection" content = "telephone=no">
    <title>Change Password | Visitor Portal</title>
    <link rel="stylesheet" type="text/css" href="/static/schedule_app/css/login_form.css">
    <!-- <script src="/static/schedule_app/js/login_form.js"></script> -->
</head>
<body>
    <div class="container top-spacing center">
        {% if message %}
            <div class="alert-danger">
                <p id="profile-name1" class="profile-name-card">{{ message }}</p>
            </div>
        {% endif %}
        <div class="card card-container">
            <p id="profile-name" class="profile-name-card">Change Password</p>
            <form class="form-signin" action="{% url 'change_password' %}" method="post">
              {% csrf_token %}              
              <div class="form-row">
                  <div class="form-group large">
                  	<input type="password" name="old_password" id="inputEmail" class="form-control" placeholder="Old Password" required autofocus>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group large">
                  	<input type="password" name="new_password1" id="inputPassword" class="form-control" placeholder="New Password" required autofocus>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group large">
                  	<input type="password" name="new_password2" id="inputPassword1" class="form-control" placeholder="Confirm Password" required autofocus>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group large">
                  	<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
                  </div>
              </div>
            </form>
        </div>
    </div>
</body>
</html>