<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta name = "format-detection" content = "telephone=no">
    <title>Visitor Registration | Visitor Portal</title>
    <link rel="stylesheet" type="text/css" href="/static/schedule_app/css/login_form.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    

    <script src="/static/schedule_app/js/login_form.js"></script>
</head>
<body>
    <div class="top-links">
    	<ul>
            <li><a href="#">Home</a></li>
            <li class="right"><a href="/logout">Logout</a></li>
            <li class="right"><a href="{% url 'change_password' %}">Change Password</a></li>      
        </ul>
    </div>
    
    <div class="container top-spacing center">
        <div class="card large-container form-1">
            <p id="profile-name" class="profile-name-card">Enter Visitor's Detail</p>
            {% if message %}
                <div class="alert-success">
                	<p id="profile-name1" class="profile-name-card">{{ message }}</p>
                </div>
            {% endif %}
            <div id="visitor-form" name="visitor-form" class="form-signin">
                <!-- {% csrf_token %} -->
                <span id="reauth-email" class="reauth-email"></span>
                <div class="form-row">
                	<div class="form-group">
                		<input type="text" name="name" id="inputName" class="form-control" placeholder="Visitor's Name" required autofocus>
                    </div>
                    <div class="form-group">
                		<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Visitor's Email" required>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                		<input type="tel" name="number" id="inputNumber" class="form-control" placeholder="Visitor's Mobile Number" required autofocus>
                    </div>
                    <div class="form-group">
                		<input type="text" name="name_person" id="inputPersonName" class="form-control" placeholder="Name of Person To Meet" required autofocus>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                		<input type="text" name="from_time" id="fromTime" class="form-control" placeholder="From time" required autofocus>
                    </div>
                    <div class="form-group">
                		<input type="text" name="to_time" id="toTime" class="form-control" placeholder="To time" required autofocus>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group large">
                		<textarea rows="4" cols="41" name="address" class="form-control" id="inputAddress" placeholder="Visitor's Address here..."></textarea>
                    </div>
                </div>
                <div class="form-row" id="camera_warning" style="display: none;">
                    <div class="form-group large">
                        <div class="alert-danger">
                            <p id="profile-name1" class="profile-name-card">Camera not found!</p>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">                        
                        <video id="video" height="200" autoplay></video>
                    </div>
                    <div class="form-group">
                    	<canvas id="canvas" class="canvas" width="270" height="200" style="display: none"></canvas>
                    </div>
                </div>
                <div class="form-row">
                	<div class="form-group">
                		<button id="snap" class="btn-default">Snap Photo</button>
                    </div>
                    <div class="form-group">
                		<button class="btn btn-lg btn-primary btn-block btn-signin" id="next" onclick="nextForm()">Next</button>
                    </div>
                </div>                
            </div><!-- /form -->
        </div><!-- /card-container -->        



        <div class="card card-container form-2" style="display: none;">
            <p id="profile-name" class="profile-name-card">Visitor's Details</p>
            <div class="form-signin">
            <p id="vname"><b>Name : </b></p>
            <p id="vemail"><b>Email : </b></p>
            <p id="vmobile"><b>Mobile : </b></p>
            <p id="vaddress"><b>Address : </b></p>
            <p id="vperson"><b>Person to meet : </b></p>
            <p id="vfrom"><b>From : </b></p>
            <p id="vto"><b>To : </b></p>
            <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" id="captured">
            <button id="edit" class="notprint btn btn-lg btn-primary btn-block btn-signin" onclick="previousForm()">Edit</button>
            <button id="print" class="notprint btn btn-lg btn-primary btn-block btn-signin" onclick="printForm();">Print</button>
            </div>            
        </div><!-- /card-container -->
    </div><!-- /container -->
</body>

<script type="text/javascript">

$(document).ready(function(){
    // Grab elements, create settings, etc.
    var video = document.getElementById('video');

    // Get access to the camera!
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now

        navigator.mediaDevices.getUserMedia({ video: { height: 200 } }).then(function(stream) {
            // video.src = window.URL.createObjectURL(stream);
            // video.play();
            video.srcObject = stream;
            video.onloadedmetadata = function(e) {
                // Do something with the video here.
                video.play();
            };
        })
        .catch(function(err) { 
            console.log(err.name + ": " + err.message);
            // swal({
            //     title: "Missing Camera Device!",
            //     text: "Camera Device not found!",
            //     icon: "warning",
            // });
            $("#camera_warning").css("display","block");
        }); // always check for errors at the end.
    }

    // var navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia ;
 
    // if (navigator.getUserMedia) {       
    //     navigator.getUserMedia({video: true}, handleVideo, videoError);
    // }
 
    // function handleVideo(stream) {
    //     video.src = window.URL.createObjectURL(stream);
    // }
 
    // function videoError(e) {
    //     // do something
    //     alert(e);
    // }

    // navigator.webkitGetUserMedia({ video: true, audio: true }, onSuccess, onError);
    // function onSuccess(stream) { 
    //     var videoElement = document.getElementById("video"); 
    //     var StreamSource; 
    //     videoElement.autoplay = true; 
    //     if (!isWebkitBrowser) {
    //             StreamSource = stream;
    //         }
    //         else {
    //             StreamSource = webkitURL.createObjectURL(stream);
    //         } 
    //     videoElement.src = StreamSource; 
    // } 

    // function onError(er) {
    //     console.log(er);
    //     alert("Error function reached, Can't Access the user devices")
    // }

    $("#fromTime").focus( function() {
        $(this).attr({type: 'datetime-local'});
    });    
    $("#toTime").focus( function() {
        $(this).attr({type: 'datetime-local'});
    });  
    // Elements for taking the snapshot
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function() {
        // context.drawImage(video, 0, 0, 200, 150);
        context.drawImage(video, 0, 0, 270, 200);

        var img = $('#captured').length ? $('#captured') : $('<img id="captured" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">');
        img.attr("src",canvas.toDataURL());
        // var image = convertCanvasToImage(canvas);
        // document.getElementById('snap').style.display = "none";
        // document.getElementById('video').style.display = "none";
        document.getElementById('canvas').style.display = "block";
    });
});

// Converts canvas to an image
function convertCanvasToImage(canvas) {
    var image = new Image();
    image.src = canvas.toDataURL("image/png");
    return image;
}

function nextForm () {
    var name  = $("#inputName")[0].value;
    var email  = $("#inputEmail")[0].value;
    var number  = $("#inputNumber")[0].value;
    var name_person  = $("#inputPersonName")[0].value;
    var from_time  = $("#fromTime")[0].value.split("T").join(' ');
    var to_time  = $("#toTime")[0].value.split("T").join(' ');
    var address  = $("#inputAddress")[0].value;
    
    if (name == "" || email == "" || number == "" || name_person == "" || from_time == "" || to_time == "" || address == "") {
        // alert("All must be filled out");
        swal({
            title: "Enter value!",
            text: "All fields must be filled out",
            icon: "warning",
        });
        return false;
    }

    if ($('canvas').css('display') == 'none') {
        swal({
            title: "No photo!",
            text: "Please capture pic for visitor",
            icon: "warning",
        });
        return false;
    }
    if (Date.parse($("#fromTime")[0].value) > Date.parse($("#toTime")[0].value)) {
        alert("Please enter proper from and to time.");
        swal({
            title: "Enter proper time!",
            text: "Please check from and to datetime.",
            icon: "warning",
        });
        return false;
    }
    $("#vname").html("<b>Name : </b>"+name);
    $("#vemail").html("<b>Email : </b>"+email);
    $("#vmobile").html("<b>Mobile : </b>"+number);    
    $("#vperson").html("<b>Person : </b>"+name_person);
    $("#vfrom").html("<b>From : </b>"+from_time.toString());
    $("#vto").html("<b>To : </b>"+to_time.toString());
    $("#vaddress").html("<b>Address : </b>"+address);

    document.getElementsByClassName('card large-container form-1')[0].style.display = "none";
    document.getElementsByClassName('card card-container form-2')[0].style.display = "block";    
}

function previousForm () {
    document.getElementsByClassName('card large-container form-1')[0].style.display = "block";
    document.getElementsByClassName('card card-container form-2')[0].style.display = "none";

    document.getElementById('snap').style.display = "block";
    document.getElementById('video').style.display = "block";
    document.getElementById('canvas').style.display = "block";
    return false;
}
function printForm () {
    w=window.open();
    $("#edit").css("display","none");
    $("#print").css("display","none");
    w.document.write($('.form-2').html());
    w.print();
    w.close();
    $("#edit").css("display","block");
    $("#print").css("display","block");    
    submitData();
}

function submitData () {
    var name  = $("#inputName")[0].value;
    var email  = $("#inputEmail")[0].value;
    var number  = $("#inputNumber")[0].value;
    var name_person  = $("#inputPersonName")[0].value;
    var from_time  = $("#fromTime")[0].value.split("T").join(' ');
    var to_time  = $("#toTime")[0].value.split("T").join(' ');
    var address  = $("#inputAddress")[0].value;

    var imageData = document.getElementById('captured').src;    

    var fd = new FormData();
    fd.append('name', name);
    fd.append('email', email);
    fd.append('number', number);
    fd.append('name_person', name_person);
    fd.append('from_time', from_time);
    fd.append('to_time', to_time);
    fd.append('address', address);
    // from backend it will change according to user
    fd.append('file_name', 'user.png');
    fd.append('user_image', imageData);

    $.ajax({
        type: 'POST',
        url: '/visitor-data',
        headers: {'X-CSRFToken': $.cookie("csrftoken")},
        data: fd,
        processData: false,
        contentType: false
    }).done(function(data) {        
        console.log(data);
        alert("You form has been successfully submitted");
        location.reload();
    });
}


</script>

</html>
